<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Page</title>
</head>
<body>
    <h1 style="border: 2px solid Tomato;">Hello, I'm Batman!</h1>
    <h1 style="border: 2px solid DodgerBlue;">Nomoshkar, ami Badurmanush!</h1>
    <h1 style="border: 2px solid Violet;">Namaste, mae  Chamgadarmanav hu!</h1>
    <h1 style="border: 2px solid DarkCyan">Hi, I am {{name}}. </h1>
    <h1 style="border: 2px solid Cyan"> {{result}}</h1> </h1>
</body>
</html>