<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table, th, td {
          border: 1px solid white;
          border-collapse: collapse;
        }
        th, td {
          background-color: #B2C3FD;
        }
    </style>
</head>
<body bgcolor="#20B2AA" align="center">
    <h1>User List</h1>
    <table align="center" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>GameSense</th>
                <th>StoryGames</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.gamesense}}</td>
                <td>{{ user.storygames }}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <button type="button" onclick="window.location.href = '/testapp/input/';">Add User</button>
</body>
</html>